<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"> 
  <appSettings> 
    <add key="umbracoConfigurationStatus" value="7.11.0" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </appSettings>
  <connectionStrings>
    <add name="umbracoDbDSN"
         connectionString="server=EC2AMAZ-4T5N65I\SQLEXPRESS;database=xaz;user id=sa;password='Amcaine12!'"
         providerName="System.Data.SqlClient"
          xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />  
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors> 
  </system.web>
</configuration>